.message{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 98%;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 25px;
}
.success{
    color:#155724;
    background-color: #d4edda;
    border-color: #f5c6cb;
}
.error{
    color: #721c24;
    border-color: #f5c6cb;
    background: #F8D7DA;
}
.notes-box{
    font-size: 18px;
}